<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FlipKart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!--<a *ngFor="let n of activeNav" routerLink="{{n.link}}"  class="nav-item nav-link {{n.status}}" (click)=onClick(n.title)>{{n.title}}</a>-->
     <a routerLink="/home/add" class="nav-item nav-link " >Add Products</a>
    <a routerLink="/home/" class="nav-item nav-link " >View Products</a>
    <a routerLink="/home/search" class="nav-item nav-link disabled" >Search Products</a>
    <a routerLink="/login" class="nav-item nav-link " >Logout</a>
     
    </div>
    
  </div>
  <a routerLink="/home/cart" class="nav-item nav-link"><i class="fa fa-shopping-cart" style="font-size:36px">{{cartCount}}</i></a>

</nav>
