.log{
    width: 300px;
    text-align: center;
}
.log a{
    text-decoration: none;
    font-size: 20px;   
}
.sell-prod{
    color: rgb(160, 158, 157);
}
#message{
    height: 10px;
     color: darkgreen;
     font-weight: bold;
}
