.pipe-iw{
    color: #6c757d;
    margin: 0 15px;
}
.removTxt{
    cursor: pointer;
}
.productDisp{
    cursor: default;
}
.clearfix{
    clear: both;
}
#searchInp{
    width: 300px;
    padding: 0 5px;
    margin: 0 5px;
}